/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
/cypress/screenshots
/cypress/videos
*.log
